@import "tailwindcss";

@theme {
  --color-primary: #528bff;
  --color-secondary: #1e2227;
  --color-danger: #e45454;
  --color-warning: #ff942f;
  --color-success: #2faf64;
  --color-info: #00b7e4;
  --color-dark: #23272e;

  --font-cascadia: "Cascadia Code PL", monospace;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Cascadia Code PL";
}

/* Typewriter */

.typewriter span:empty {
    position: relative;
}

.typewriter span:empty::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-right: 2px solid var(--color-primary);
    animation: caret 1s steps(1) infinite;
}
  
@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* Splide */

.splide__arrow {
    top: calc(100% + 2rem);
}

.splide__pagination {
    top: calc(100% + 1.5rem);
}

@media (max-width: 640px) {
    .splide__pagination {
        top: calc(100% + 0.5rem);
    }
}